.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        overflow: hidden;
        padding-top:2px!important;
        
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: normal;
        overflow: hidden;
        padding: 1px 1px;
        word-break: normal;
    }

    .tg .tg-4aln {
        background-color: #ffffff;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    .tg .tg-eam2 {
        background-color: #ffffff;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
    }
