.page {
    padding: 0px;
    margin: 10mm auto;
    border: 1px white solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

@page {
    size:A4,A5,landscape,portrait;
    margin: 0px;
    
}

@media print {
    .page {
        padding: 0px;
        margin: 0px auto;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

}
