.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-right:1px solid black;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-9wq7 {
        background-color: #ffffff;
        border-bottom-color: #ffffff;
        border-right-color: #ffffff;
        border-top-color: black;
        text-align: left;
        vertical-align: middle
    }
    .tg .tg-9wq6 {
        background-color: #ffffff;
        border-left-color: #ffffff;
        border-top-color: black;
        border-bottom-color: #ffffff;
        text-align: left;
        vertical-align: middle
    }
    .tg .tg-7eit {
        background-color: #ffffff;
        border-color: #ffffff;
        text-align: center;
        vertical-align: middle
    }
    .tg .tg-7eiz {
        background-color: #ffffff;
        border-right-color: #ffffff;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-clnv {
        background-color: #ffffff;
        border-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif !important;
        text-align: right;
        vertical-align: middle
    }

    .tg .tg-8n49 {
        background-color: #ffffff;
        border-color: #ffffff;
        text-align: left;
        vertical-align: middle
    }
    .tg .tg-8n48 {
        background-color: #ffffff;

        border-left-color: #ffffff;
        border-right-color: #ffffff;
        text-align: left;
        vertical-align: middle
    }


    .tg .tg-81u1 {
        background-color: #ffffff;
        border-right-color: #ffffff;
        border-top-color: black;
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-81u0 {
        background-color: #ffffff;
        border-left-color: #ffffff;
        border-top-color: black;
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-vhtn {
        background-color: #ffffff;
        border-color: #000000;
        text-align: center;
        vertical-align: middle
    }
