.tg {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-y: hidden;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        overflow: hidden;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        font-weight: normal;
        overflow: hidden;
        word-break: normal;
    }

    .tg .tg-zv4m {
        border-color: #ffffff;
        font-size: 12px;
        color:blue;
        text-align: left;
        vertical-align: middle;
    }

    .tg .tg-c3ow {
        border-color: black!important;
        padding-left: 5px;
        padding-right: 5px;
        vertical-align: middle
    }

    .tg .tg-w3ps {
        background-color: #d1cbc3;
        border-color: black!important;
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-w3pa {
        background-color: white !important;
        border-color: white !important;
        vertical-align: middle;
            text-align:center;
    }
    .tg .tg-w3pd {
        background-color: #ffffff;
        border-color: black!important;
        padding-left: 10px;
        vertical-align: middle
    }

    .tg .tg-t1ow {
        background-color: #F5F5F5;
        border-color: black !important;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-0lax {
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-ofj5 {
        border-color: #ffffff;
        color:blue;
        text-align: right;
        vertical-align: middle
    }

    .tg .tg-vhuu {
        background-color: #ffffff!important;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-oe15 {
        background-color: #ffffff;
        border-color: #ffffff;
        text-align: left;
        vertical-align: middle
    }

    .tg .tg-t8ut {
        background-color: #ffffff !important;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-je0s {
        background-color: #ffffff !important;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-c74o {
        background-color: #FFF !important;
        border-color: #ffffff;
        font-family: Tahoma, Geneva, sans-serif !important;
        font-size: 12px;
        text-align: left;
        vertical-align: middle
    }
