@model PhanLong.EF.User

<div class="container">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {

    <div class="row-cols-4">
        <div class="input-group mb-2">
            <input type="password" name="OldPassword" required class="form-control form-control-sm" placeholder="Mật khẩu cũ">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-2">
            <input type="password" name="NewPassword" id="NewPassword" required class="form-control form-control-sm" placeholder="Mật khẩu mới">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>

        </div>
        <span id="message"></span>
        <div class="input-group mb-2">
            <input type="password" name="ConfirmNewPassword" id="ConfirmNewPassword" required class="form-control form-control-sm" placeholder="Nhập lại mật khẩu mới">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" id="submit" disabled class="btn btn-success">Thay đổi mật khẩu</button>
            </div>
            <!-- /.col -->
        </div>
    </div>

    }
</div>

