@model IEnumerable<QLDL.EF.DMXe>
<h4>
    <b>Danh mục Xe</b>
</h4>
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
        <thead>
            <tr>
                <th width="5px"><input type='checkbox' id='check' value='' /></th>
                <th>Mã Xe</th>
                <th>Biển số</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.MaXe</td>
                    <td>@item.BienSo</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
</div>



