@model IEnumerable<QLDL.EF.DMBill>
@{
    ViewBag.Title = "Tổng hợp phát sinh Bill";
    ViewBag.Style = "/Content/css/sb-admin-2.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var billton = 0;
    var billbai = 0;
    var bill = 0;
}
<h3><b>Thống kê Bill</b></h3>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-primary text-uppercase mb-1"><a href="#" data-toggle="collapse" data-target="#tongbill">Tổng Bill</a></div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Count()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-info text-uppercase mb-1"><a href="#" data-toggle="collapse" data-target="#bill">Bill hoàn tất</a></div>
                        @foreach (var item in Model)
                        {
                            var songay = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGiao != null && x.NgayGui != null).ToList();
                            if (songay.Count() == item.CTBills.Count() && songay.Count()> 0)
                            {
                                bill += 1;
                            }
                        }
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@bill</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-warning text-uppercase mb-1"><a href="#" data-toggle="collapse" data-target="#billbai">Bill chưa gửi bãi</a></div>
                        @foreach (var item in Model)
                        {
                            var songay = item.CTBills.Where(x => x.Bill == item.Id  && x.NgayGui == null).ToList();
                            if (songay.Count() > 0 || item.CTBills.Count() == 0)
                            {
                                billbai += 1;
                            }
                        }
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@billbai</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-lg font-weight-bold text-success text-uppercase mb-1"><a href="#" data-toggle="collapse" data-target="#billton">Bill chưa giao</a></div>

                        @foreach (var item in Model)
                        {
                            var songay = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGiao == null).ToList();
                            if (songay.Count() > 0 || item.CTBills.Count() == 0)
                            {
                                billton += 1;
                            }
                        }
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@billton</div>

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="tongbill" class="collapse">
        <div class="card h-100">
            <div class="card-body no-gutters">
                @{Html.RenderAction("ViewDMBill", "DMBill", new { area = "DanhMuc" });}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="bill" class="collapse">
        <div class="card h-100">
            <div class="card-body no-gutters">
                @{Html.RenderAction("ViewBill", "Bill");}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="billbai" class="collapse">
        <div class="card h-100">
            <div class="card-body no-gutters">
                @{Html.RenderAction("BillBai", "Bill");}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="billton" class="collapse">
        <div class="card h-100">
            <div class="card-body no-gutters">
                @{Html.RenderAction("BillTon", "Bill");}
            </div>
        </div>
    </div>
</div>