@model List<PhanLong.EF.CTBill>
@using PhanLong.EF

@{
    PhanLongDBContext db = new PhanLongDBContext();

}
<option value=""></option>
@foreach (var item in Model)
{

    <option value="@item.Id"> @item.Cont</option>
}






