body {
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
    font-weight: 300;
    padding: 3px 5px;
    font-size: 12px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 2px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.table-responsive {
    min-height: 1%;
    overflow-x: hidden;
}

.navbar {
    min-height: 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.form-control {
    height: 25px;
    padding: 2px 4px;
    font-size: 12px;
}
