@model PhanLong.EF.HoaDon



<div class="form-group form-group-sm">
    <input type="hidden" readonly name="Id" id="psid" value="@Model.Id" />
    <label>Ngày thanh toán:</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
        </div>
        <input type="date" name="NgayThanhToan" class="form-control form-control-sm" value="">
    </div>
    <label>Số tiền thanh toán:</label>
    <input type="number" name="TienThanhToan" id="TienThanhToan" placeholder="Nhập số tiền thanh toán ..." class="form-control form-control-sm" value="@Model.TienThanhToan" />
</div>
<div class="form-group form-group-sm">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <input type="submit" href="#" class="btn btn-primary" value="Lưu" id="Save" />
</div>



