@model  PhanLong.EF.User
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <b>Đặt lại mật khẩu</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Vui lòng nhập email của bạn để đặt lại mật khẩu</p>
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" });

                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Email" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Tiếp tục</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

        <p class="mt-3 mb-1">
            @Html.ActionLink("Đăng nhập", "Index", "Login", new { area = "" })
        </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
