@model  PhanLong.Models.LoginModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Login/_Layout.cshtml";
}
<div class="login-box">
    <div class="login-logo">
        <b>Đăng nhập</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="input-group mb-3">
                    @Html.TextBoxFor(model => model.UserName, new {@required = true, @class = "form-control", @autofocus = "autofocus", @placeholder = "Nhập tên tài khoản ..." })
                    <div class="input-group-append" re>
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(model => model.Password, new { @required = true, @class = "form-control", @placeholder = "Nhập password ..." })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            @Html.CheckBoxFor(model => model.RememberMe, new { @id = "remember" })
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            }

            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Đăng nhập bằng Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Đăng nhập bằng Google+
                </a>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                @Html.ActionLink("Quên mật khẩu", "ForgotPassword", "Login")
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
<!-- jQuery -->
<script src="/Content/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/Content/dist/js/adminlte.min.js"></script>
