@model  PhanLong.EF.User
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <b>Khôi phục mật khẩu </b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            @using (Html.BeginForm("NewPassword", "Login", FormMethod.Post))
            {
                <input type="hidden" name="Email" value="@ViewBag.email" />
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="NewPassword" id="NewPassword" placeholder="Mật khẩu mới">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" placeholder="Xác nhận mật khẩu">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


@section js{
    <script>

        $('#NewPassword, #ConfirmNewPassword').on('keyup', function () {
            if ($('#NewPassword').val() != '') {
                if ($('#NewPassword').val() == $('#ConfirmNewPassword').val()) {
                    $('#ConfirmNewPassword').css('border', '2px solid green');
                    $('#submit').removeAttr('disabled');
                } else
                    $('#ConfirmNewPassword').css('border', '2px solid red');
            }

        });
    </script>


}
