@model  PhanLong.EF.User
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Login/_Layout.cshtml";
}

    <div class="login-box">
        <div class="login-logo">
            <b>Nhập mã bảo mật </b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Vui lòng kiểm tra mã trong email của bạn. Mã này gồm 6 số.</p>

                @using (Html.BeginForm("RecoverPassword", "Login", FormMethod.Post))
                {
                    <input type="hidden" name="hash" value="@ViewBag.Token" />
                    <input type="hidden" name="email" value="@ViewBag.Email" />
                    <div class="input-group mb-3">
                        <input type="password" min="6" name="token" max="6" required class="form-control" placeholder="token">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Tiếp tục</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
