@model List<QLDL.Models.ThanhToanLuongModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4><b>Thanh toán lương</b></h4>
            <div class="table-responsive">

                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã</th>
                            <th>Tên Tài Xế - Nhân Viên</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">

                                <td>@Html.ActionLink("Chi tiết", "CTTTLuong", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                                <td>@item.MaTX</td>
                                <td>@item.TaiXe</td>
                            </tr>
                        }
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>


