    <!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Danh mục
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/DMKho">Kho</a></li>
                    <li><a href="/DMCang">Cảng</a></li>
                    <li><a href="/DMKhachHang">Khách hàng</a></li>
                    <li><a href="/DMXe">Xe</a></li>
                    <li><a href="/DMPhi">Phí</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Bảng kê
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Form 1</a></li>
                    <li><a href="#">Form 2</a></li>
                    <li><a href="#">Đính kèm</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Nhập liệu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Phát sinh</a></li>
                    <li><a href="#">Chi phí</a></li>
                    <li><a href="#">Tạm ứng</a></li>
                    <li><a href="#">Thu tiền</a></li>
                    <li><a href="#">Sửa xe</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Thống kê
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Phát sinh</a></li>
                    <li><a href="#">Chi phí</a></li>
                    <li><a href="#">Tạm ứng</a></li>
                    <li><a href="#">Thu tiền</a></li>
                    <li><a href="#">Sửa xe</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    khác
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Thanh toán lương</a></li>
                    <li><a href="#">Tra cứu giá cước</a></li>
                    <li><a href="#">Tổng hợp công nợ</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>